# SPDX-FileCopyrightText: 2024-2026 Gabriel Arazas <foodogsquared@foodogsquared.one>
#
# SPDX-License-Identifier: MIT

# The typical output name for Nix builds.
result*

# Antora output and cache directory.
node_modules/
public/
cache/

### direnv ###
.direnv
.envrc
