{{!--
SPDX-FileCopyrightText: 2025-2026 Gabriel Arazas <foodogsquared@foodogsquared.one>

SPDX-License-Identifier: MIT
--}}

<footer class="footer">
  <p>
    Copyright © <a href="https://foodogsquared.one">foodogsquared</a> and wrapper-manager-fds contributors
  </p>
  <p>wrapper-manager-fds is licensed under <a href="https://spdx.org/licenses/MIT.html">MIT license</a></p>
</footer>
